.subtitle {
  color: #f5bcd5;
  margin-top: 10px;
  margin-left: -1px;
}
h5 {
  font-size: 22px;
  margin-top: -410px;
  margin-left: 10px;
}
.mango {
  height: 470px;
  width: 320px;
  margin-top: -10px;
  margin-left: 750px;
}
h6 {
  font-size: 22px;
  margin-top: -430px;
  margin-left: 10px;
}
.potion {
  height: 470px;
  width: 490px;
  margin-top: -10px;
  margin-left: 580px;
}
