.intro {
  //   background-color: grey;
}
.text {
  margin-top: 48px;
  margin-left: 12px;
}
h3 {
  color: rgb(128, 114, 114);
  font-size: 80px;
  margin-top: 150px;
  margin-left: 320px;
}
h4 {
  color: rgb(128, 114, 114);
  font-size: 17px;
  margin-top: -280px;
}
.star {
  height: 38px;
  width: 38px;
  margin-left: 160px;
  margin-top: -8px;
}
