.intro {
  //   background-color: grey;
}
.text {
  margin-top: 48px;
  margin-left: 12px;
}
h3 {
  color: rgb(128, 114, 114);
  font-size: 60px;
  margin-top: 30px;
  margin-left: 375px;
}
h4 {
  color: rgb(128, 114, 114);
  font-size: 17px;
  margin-top: -137px;
}
.star {
  height: 38px;
  width: 38px;
  margin-left: 160px;
  margin-top: -8px;
}
h2 {
  color: black;
  font-size: 25px;
  font-style: serif;
  margin-top: 130px;
  margin-left: 293px;
}
