.card {
  font-size: 17px;
  color: azure;
  margin-right: 200px;
}

.card-body {
  height: 5in;
  width: 100%;
  background-color: #f5bcd5;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.palm {
  margin-left: 3.4in;
  margin-top: -5.5cm;
  height: 85px;
  width: 96px;
}

.btn-light {
  margin-left: 390px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: -500px;
  width: 130px;
  height: 45px;
}

.card-title {
  color: azure;
  font-size: 60px;
  margin-left: 360px;
  margin-top: 50px;
}

.bowl {
  margin-top: 50px;
}

.pic {
  width: 405px;
  height: 481px;
  margin-top: -282px;
  margin-left: 873px;
}

.card-text {
  margin-left: 365.5px;
  margin-top: -12px;
  color: black;
}

.tagline {
  margin-left: 362.5px;
  margin-top: 80px;
}
