.card {
  font-size: smaller;
  color: azure;
}

.card-body {
  height: 5in;
  width: 100%;
  background-color: #f5bcd5;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.palm {
  margin-left: 3.4in;
  margin-top: -5.5cm;
  height: 85px;
  width: 96px;
}

.initial {
  height: 480.5px;
  width: 990px;
  padding-left: 3.5in !important;
  margin-top: -310px;
}

.left {
  height: 430.5px;
  width: 480px;
  margin-left: -1008px;
  margin-top: -50px;
}

.right {
  height: 460.5px;
  width: 430px;
  margin-left: 850px;
  margin-top: -470px;
}

.join {
  height: 550px;
  width: 700px;
  margin-top: -840px;
  margin-left: 310px;
}

.btn-light {
  margin-left: 600px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: -300px;
  width: 130px;
  height: 45px;
}

.card-title {
  color: black;
}

.card {
  margin-top: 50px;
}
.bowl {
}
